/************************
GENERAL
************************/

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

a {
    text-decoration: none;   
}

/************************
HEADER
************************/

header{
    margin: 0;
    padding: 0;
    width: 100%;
       
}

#logo {
    text-align:center;
    text-decoration: none;
}

h1 {
    padding: 10px 0 0 0;
    margin:  0;
    height: 1em;
}

h2 {
    padding: 5px 0 5px 0;
    margin: 0 0 0 0;
    font-size: 0.75em;
    font-weight: normal;
}


/************************
NAVIGATION
************************/

nav {
    text-align: center;
    border-top: 1px solid black;
}

nav ul {
    list-style: none;
}

nav li{

    display: inline-block;
    padding: 0 10px;
    margin: 5px 0 5px 0;
}

nav a {
    text-decoration: none;
    font-weight: 600;
}

/************************
IMAGES
************************/
#photo_ul {
    display:block;
    float:left;
    position: absolute;
    margin: -100px 0 0 100px;
}

.image {
    margin: 2px;
    float: left;
    clear: both;
    top:0;
    left:0;
    list-style-type: none;
}


section div img {
    width: 100px;
}

#overlay 
    background-color: rgba(0,0,0,0.7);
    width:100%;
    height:136%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 115px 0 0 0;
    display: none;
    text-align: center;


#overlay img {
    margin-top: 10%;
    width: 100%;
}

#overlay p {
    color:#FFF;   
}

/************************
SECTION
************************/


.background_img {
    background-image: url('../img/BWbackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height:1000px;
    width:100%;
}

.buttons {
    list-style-type: none;
    float:left;
    margin: 5px 50px 0 0;
    display: block;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    padding: 2px 0 2px 0;
    clear:both;
}

.buttons p {
    text-align: left;   
}

.background_button {
    margin: 90px 50px 0 0;
    list-style-type: none;
    float:left;
    display: block;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    clear:both;

}
.story {
    display: block;
    width: 300px;
    height:480px;
    background-color: #FFF;
    border: 2px solid hsla(180, 90%, 40%, 1);
    float:left;
    word-wrap: break-word;
    text-indent: 10px;
    white-space: pre-wrap;
    padding: 10px;
    overflow: scroll;
}

.background_story {
    margin: 200px 0 0 0;
    position: absolute;
}

.interest_story {
    margin: 200px 0 0 0;
    position: absolute;
}

.workschool_story {
    margin: 200px 0 0 0;
    position: absolute;
}

#photo_ul li{
    background:none;   
}

/************************
PAGE: GOALS
************************/

.profile-photo {
    display: block;
    max-width: 150px;
    margin: 0 auto 40px;
    border-radius: 100%;
}
section p {
    word-wrap: break-word;
    text-indent: 10px;
    white-space: pre-wrap;
    padding: 10px;
}

/************************
COLORS
************************/

header {
    background: hsla(180, 40%, 40%, 1);   
}

nav {
    background: hsla(180, 70%, 40%, 1);   
}

h1, h2 {
    color:#FFF;   
    
}

nav a {
    color:#FFF;   
}

nav a.selected, nav a:hover {
    color: hsla(180, 30%, 40%, 1);   
}

.buttons {
    background-color: hsla(180, 90%, 40%, 1);
    color:#FFF;
}

.buttons p {
    color:#000;   
}

.background_button {
    background-color: hsla(180, 90%, 40%, 1);
    color:#FFF;
}

button {
    color:#000;
    text-decoration: none;
    width:80px;
}

/************************
FOOTER
************************/

footer{
    text-align: center;
}
.social-icon {
    height: 30px;
    width: 30px;
    padding:10px;
}

footer p {
    clear:both;   
}
