@media screen and (min-width:480px) {

 /************************
PAGE: ABOUT
************************/      
    .story {
    top: 22px;
    left: 200px;
}
    
    .image {
        clear: none;
    }
    
    
    
 /************************
PAGE: GOALS
************************/
    .profile-photo {
        float:left;
        margin: 0 5% 20px 0;
    }
}

@media screen and (min-width:660px) {
    
    
     /************************
HEADER
************************/
    
    nav {
        text-align:right;
    }
    
    h1, h2 {
        text-align: left;
        margin: 0 0 0 40px;
    }
      
    
    /************************
OVERLAY
************************/ 
    
    #overlay img {
        width: auto;
}
    
    
}